body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2e2f42;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

.header-navigat-logo {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-studio {
  color: #2e2f42;
}

.footer-navigat-logo {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}
